@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

/* logo fonts  */
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bubbler+One&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manjari:wght@100;400;700&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Righteous&family=Unbounded:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
.secondary-font {
  /* font-family: "Rethink Sans", sans-serif; */
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1,
h2,
label,
.primary-font {
  font-family: "Noto Naskh Arabic", serif;
}

.logo-font {
  font-family: "MuseoModerno", serif;
  /* font-family: "Manjari", serif; */
  /* font-family: "Bubbler One", serif; */
  /* font-family: "Unbounded", serif; */
  /* font-family: "ABeeZee", serif; */

  font-style: italic;
}

.container {
  @apply max-w-[1200px] mx-auto px-6;
}

/* color picker color imamge hidden  */
#colorPicker img {
  display: none !important;
}

/* number input arrow button hidden  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* scrollbar hidden  */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* custom scrollbar style  */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
.dark ::-webkit-scrollbar {
  background: black;
}
.dark ::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: transparent;
  border: 2px solid rgb(78, 102, 156);
}
/* .dark ::-webkit-scrollbar-thumb {
  border: 2px solid rgb(78, 102, 156);
} */

body {
  height: 100vh;
  margin: 0;
  background: radial-gradient(
    70% 70% at 50% 100%,
    rgb(226 226 255) 50%,
    #e6e5f6 65%,
    rgb(255, 255, 255) 100%
  );
  background-attachment: fixed;
  background-size: cover;
}

.dark body {
  height: 100vh;
  margin: 0;

  background: linear-gradient(
    to right,
    rgba(1, 0, 10, 0.9),
    rgba(23, 21, 52, 0.9),
    rgba(4, 2, 26, 0.9)
  );

  /* background: linear-gradient(
    to right,
    rgba(1, 0, 10, 0.9),
    #1b2540,
    rgba(4, 2, 26, 0.9)
  ); */

  /* background: linear-gradient(to right, #1b1b2e, #1c1a3f, #0f0c29); */
  /* background: linear-gradient(to right, #010106, #0f0b30, #02000f); */
  /* background: linear-gradient(to right, #02000e, #1c1f40, #030718); */

  /* background: linear-gradient(to right, #1c1f40, #030718); */
  /* background: linear-gradient(to right, #161830, #030718); */

  background-attachment: fixed;
  background-size: cover;
}
